<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="OptimizedPriorityQueue" version="4.2.0" targetFramework="net461" />
  <package id="SadConsole" version="8.99.0" targetFramework="net461" />
  <package id="SadConsole.Starter" version="2.0.1" targetFramework="net45" />
</packages>